{% extends 'MyBrakingBackBundle::base.html.twig' %}

    {% block title %}Accueil{% endblock %}

    {% block body %}

    <div class="container">

      <div class="starter-template" style="margin-top: 100px;">
        <h1>Bienvenue</h1>
        <!-- <p class="lead">Vous trouverez la liste des bracket si dessous :).</p> -->
      </div>

      <table class="table">
      <caption>Liste des brackets en cours :</caption>
      <thead>
        <tr>
          <th>#</th>
          <th>Nom</th>
          <th>Jeu</th>
          <th>Plateforme</th>
          <th>Créé par</th>
          <th>Statut</th>
        </tr>
      </thead>
      <!-- <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Grotagra</td>
          <td>ODC French kikoo</td>
          <td>COD BO2</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Grotagra</td>
          <td>ODC French kikoo</td>
          <td>COD BO2</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Grotagra</td>
          <td>ODC French kikoo</td>
          <td>COD BO2</td>
        </tr>
      </tbody> -->
      </table>

    </div><!-- /.container -->
    {% endblock %}