{% extends 'MyBrakingBackBundle::base.html.twig' %}

{% block title %}Utilisateur{% endblock %}

{% block body %}
    <div class="container">

      <div class="starter-template" style="margin-top: 100px;">
        <ol class="breadcrumb">
  <li><a href="#">Admin</a></li>
  <li class="active">Bracket</li>
</ol>
      </div>
      
     <div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Tout les bracket</div>
<ul class="list-group">
  <li class="list-group-item"><div class="btn-group">
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
    Pseudo <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu">
    <li><a href="#">Bannir</a></li>
    <li><a href="#">Changer Mail</a></li>
    <li><a href="#">Changer MDP</a></li>
  </ul>
</div></li>
  <li class="list-group-item"><div class="btn-group">
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
    Pseudo <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu">
    <li><a href="#">Bannir</a></li>
    <li><a href="#">Changer Mail</a></li>
    <li><a href="#">Changer MDP</a></li>
  </ul>
</div></li>
  <li class="list-group-item"><div class="btn-group">
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
    Pseudo <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu">
    <li><a href="#">Bannir</a></li>
    <li><a href="#">Changer Mail</a></li>
    <li><a href="#">Changer MDP</a></li>
  </ul>
</div></li>
  <li class="list-group-item"><div class="btn-group">
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
    Pseudo <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu">
    <li><a href="#">Bannir</a></li>
    <li><a href="#">Changer Mail</a></li>
    <li><a href="#">Changer MDP</a></li>
  </ul>
</div></li>
  <li class="list-group-item"><div class="btn-group">
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
    Pseudo <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu">
    <li><a href="#">Bannir</a></li>
    <li><a href="#">Changer Mail</a></li>
    <li><a href="#">Changer MDP</a></li>
  </ul>
</div></li>
</ul>


</div>

    </div><!-- /.container -->
{% endblock %}
